@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
*,
*::before,
/* Root variables */
:root {
  --theme: #66CC00;
}

/* Global styles */
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  background-color: var(--neutral-very-light-grayish-blue);
  background-image: url("./assets/bg-top.svg");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 375px 658px;
  position: relative; /* Added to make sure ::before is positioned relative to body */
  z-index: 0; /* Adjusted z-index */
}

body::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 353px;
  width: 100%;
  height: 304px;
  background-image: url("./assets/bg-bottom.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1; /* Adjusted z-index */
}



/* Adjustments for inputs */
input {
  font-family: "Montserrat", sans-serif;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease;
}

input:focus {
  outline: none;
  border-color: var(--theme);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  /* Example: Adjust font sizes, margins, paddings for smaller screens */
  body {
    font-size: 14px;
  }

  input {
    width: 100%;
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 480px) {
  /* Example: Further adjustments for even smaller screens */
  body {
    font-size: 12px;
  
  }

  input {
    font-size: 0.875rem;
    padding: 0.4rem;
  }
}
